* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: sans-serif;
    font-weight: 600;
}
body {
    background-color: black;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 200vh;
}
#container {
    color: white;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
span {
    color: green; 
}
#square {
    width: 100px;
    height: 100px;
    background-color: green;
}
#computer {
    width: 500px;
    height: 400px;
    background-color: black;
    border: 10px solid white;
    margin-top: 200px;
    border-radius: 30px;
    
}
#computer #firstbar {
    background-color: green;
    height: 40px;
    width: 40px;
    margin-top: 40px;
    border-radius: 30px;
    margin-left: 20px;
}
#computer #secondbar {
   
        background-color: green;
        height: 40px;
        width: 40px;
        margin-top: 40px;
        border-radius: 30px;
        margin-left: 20px;
}
#computer #thirdbar {
   
    background-color: green;
    height: 40px;
    width: 40px;
    margin-top: 40px;
    border-radius: 30px;
    margin-left: 20px;
}
#acte {
    width: 40px;
    height: 10px;
    background-color: white;
    margin-left: 225px;
}